body {
  font-family:sans-serif;
}

header {
  width:100%;
  height: 500px;
  overflow:hidden;
  position: relative;
}


img {
  float:left;
  position:absolute;
  height: 75px;
  padding-left: 10px;
  padding-top: 10px;
}

video {
  position:absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.nav-menu {
  float:right;
  margin-right: 10%;
  padding-top: 25px;

  .about-us,  {
    background:white;
    height:50px;
    float:left;
    padding-left:20px;
    padding-right:20px;
  }

  .take-action {
    background:white;
    height:50px;
    float:right;
    margin-left:20px;
    padding-left:10px;
    padding-right:10px;

  }
}

.header-text {
  clear: both;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  color:white;

  h1 {
    color:#305291;
    font-size:40px;
  }
}

.pledge {
  h2 {
    background:#305291;
    margin:0;
    border-bottom:1px solid grey;
    padding-top:25px;
    padding-bottom:25px;
    text-align:center;
    color:white;
  }

  p {
    background:#305291;
    margin:0;
    border-bottom:1px solid grey;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:25px;
    padding-right:25px;
    text-align:center;
    color:white;
    line-height: 30px;
  }
}

.issues {
  h2 {
    background:#F2F2F2;
    margin:0;
    border-bottom:1px solid grey;
    padding-top:25px;
    padding-bottom:25px;
    text-align:center;
    color:#305291;
  }

  p {
    background:#F2F2F2;
    margin:0;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:25px;
    padding-right:25px;
    text-align:center;
    color:grey;
    line-height: 30px;
  }
}

.energy, .air-water, .climate-change, .coal-ash {
  background:#F2F2F2;
  overflow:hidden;

  .energy-small, .air-water-small, .climate-change-small, .coal-ash-small {
    background:white;
    width:90%;
    margin:5%;
    height:300px;

    i {
      color:#305291;
      margin-left:47%;
      padding-top:10px;
    }

    h2 {
      color:#305291;
      text-align:center;
    }

    p {
      padding-top:25px;
      padding-bottom:25px;
      padding-left:25px;
      padding-right:25px;
      text-align:center;
      color:grey;
      line-height: 30px;
    }
  }
}

.container {
  border-bottom: 1px solid black;
  padding-bottom:25px;
  padding-top:25px;
  background:#f2f2f2;
}

footer {
  background:#f2f2f2;
  overflow:hidden;

  p {
    line-height:50px;
    text-align:center;
    color:darkblue;
  }
}

@media (min-width:767px) {

  nav {
    width:80%;
    margin-left:15%;

    img {
      padding-left:25px;
    }

  }

  .pledge {

    h2 {
      padding-top:100px;
    }

    p {
      padding-bottom:100px;
    }

  }

  .energy, .air-water, .climate-change, .coal-ash {
    float:left;
    width:25%;
  }

  footer{
    clear:both;
    float:none;

  }
}
